.Testimonial__container{
    border: 1px solid;
    width: 400px;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 30px;
    display: flex;
}

.Testimonial__photo{
    width: 100px;
    border-radius: 50%;
    
}
.Testimonial__name{
    font-size: 16px;
    text-align: center;
    margin-top: 4px;
    color: #383838;
}