.title{
    border: 3px solid red;
    background-color: blanchedalmond;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.dark{
    background-color: rgb(23, 21, 21);
    color: bisque;
}
